.container {
	width: 100%;
	height: 3rem;
	background-color: var(--bg-color);
	color: var(--text-color);
	border-top: 1px solid var(--text-color);
	z-index: var(--level-1);
}

.socialIcon {
	margin: 0rem 0.5rem;
}

.socialIcon:hover {
	cursor: pointer;
}
