.filterContainer {
	width: 50%;
	border-left: 1px solid var(--gray-4);
}

.filterIcon {
	margin: 0.5rem;
}

.filterOptionOpen {
	display: flex;
}

.filterOptionClose {
	display: none;
}

.modalHeadPosition {
	justify-content: space-between;
}

.modal {
	width: 15rem;
	height: 20rem;
}

.btnClear {
	margin: 0;
	padding: 0.25rem;
	height: 2rem;
}
