.productItem {
	height: 22rem;
}

.productDetails {
	padding-left: 0.25rem;
	margin-top: 0.5rem;
	position: relative;
	top: 5%;
}

.badgeContainer {
	margin: 0;
	align-items: center;
	position: relative;
}

.rating {
	margin: 0.5rem 0.25rem;
	width: 1.5rem;
	height: 1rem;
	padding: 0.25rem 0.5rem;
}

.trending {
	margin: 0.5rem 0.25rem;
	width: 4rem;
	height: 1rem;
}

.price {
	font-size: 1rem;
}

.description {
	font-size: 1rem;
	margin: 0.25rem 0rem;
}

.name {
	font-size: 1.25rem;
}

.wishIcon,
.wishIconActive {
	position: absolute;
	right: 2.5rem;
}

.wishIconActive {
	color: var(--red-4);
	filter: brightness(120%);
}

.wishIcon:hover,
.wishIconActive:hover,
.addIcon:hover,
.addIconActive:hover {
	cursor: pointer;
}

.addIcon {
	position: absolute;
	right: 0.5rem;
}

.addIconActive {
	color: var(--red-4);
	filter: brightness(120%);
}

@media (min-width: 425px) {
	.productItem {
		margin: 0.25rem;
		height: 25rem;
	}
	.name {
		font-size: 1rem;
	}
}
