.container {
	width: 100%;
	height: 4rem;
	background-color: var(--bg-color);
	color: var(--text-color);
	border-bottom: 2px solid var(--text-color);
	z-index: var(--level-1);
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
}

.zealCartIcon {
	width: 2rem;
	height: 2rem;
	margin-left: 2.75rem;
}

.icons {
	margin-left: 0.5rem;
	margin-right: 2rem;
}

.title {
	font-size: 1rem;
	margin-left: 0.5rem;
}

.themeIcon,
.wishIcon,
.cartIcon {
	margin: 0rem 0.5rem;
}

.themeIcon:hover {
	cursor: pointer;
}

.wishCountBadge,
.cartCountBadge {
	border: none;
}

.wishCountBadgeActive,
.cartCountBadgeActive {
	width: 1rem;
	height: 1rem;
	border: 2px solid var(--bg-color);
	background-color: var(--red-4);
	filter: brightness(120%);
	color: white;
	font-size: 0.75rem;
	font-weight: bold;
	padding: 1px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wishCountBadgeActive {
	top: 0.25rem;
	right: 4.25rem;
}

.cartCountBadgeActive {
	top: 0.25rem;
	right: 1.75rem;
}

@media (min-width: 1024px) {
	.zealCartIcon {
		width: 3rem;
		height: 3rem;
	}
	.icons {
		margin-left: auto;
		margin-right: 5rem;
	}
	.title {
		font-size: 1.5rem;
	}
	.wishCountBadgeActive {
		right: 7.25rem;
	}
	.cartCountBadgeActive {
		right: 4.75rem;
	}
}
